$cWhite: #fefefe;
$cGray: #5b5b5b;
$cBlack: #1d1d1d;

/* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ローダー◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
.loader__wrap{
  height: 100vh;
  width: 100%;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5000;
  p{
    color: $cBlack;
    font-size: calc( 20rem / 16 );
    font-weight: bold;
  }
  span{
    position: absolute;
    border: 1px solid $cBlack;
    width: 100%;
    height: 100%;
    animation: kf-loader 5s linear infinite;
    &:nth-child(1){
      border-radius: 27% 73% 30% 70% / 75% 20% 80% 25% ;
    }
    &:nth-child(2){
      animation-direction: reverse;
      border-radius: 68% 32% 18% 82% / 53% 49% 51% 47%  ;
    }
    &:nth-child(3){
      animation-delay: 3s;
      border-radius: 27% 73% 30% 70% / 43% 47% 53% 57% ;
    }
  }
}
@keyframes kf-loader {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


/* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️キービジュアル◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
.key-visual{
  height: 100vh;
  width: 100%;
  position: relative;
  &-text{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    & h1{
      line-height: 1.2;
      font-size: clamp( 90px,7.5vw,150px );
      color: $cWhite;
      .line {
        display: flex;
        justify-content: left;
        span.inview{
          display: inline-block;
          opacity: 0;
          transform: translateY(30px);
          animation: slideUp 0.4s ease-in-out forwards;
        }
        @for $i from 1 through 4 {
          &:nth-child(1) span:nth-child(#{$i}) {
            animation-delay: #{0.1 * $i}s;
          }
        }
        @for $i from 1 through 4 {
          &:nth-child(2) span:nth-child(#{$i}) {
            animation-delay: #{0.4 + 0.1 * $i}s;
          }
        }
        @for $i from 1 through 3 {
          &:nth-child(3) span:nth-child(#{$i}) {
            animation-delay: #{0.8 + 0.1 * $i}s;
          }
        }
      }
    }
    & p{
      font-size: calc( 35rem / 16 );
      color: $cWhite;
    }
  }
}
// MOTOKAWA NAOアニメーション
@keyframes slideUp {
  0%{
    opacity: 0;
    transform: translateY(50%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


// ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️スクロール◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
/*スクロールダウン全体の場所*/
.scrolldown{
  /*描画位置※位置は適宜調整してください*/
  position:absolute;
  right:5%;
  bottom: 30%;
  /*全体の高さ*/
  height:50px;
}
/*Scrollテキストの描写*/
.scrolldown span{
  /*描画位置*/
  position: absolute;
  left:-15px;
  top: -15px;
  /*テキストの形状*/
  font-size: calc( 16rem / 16 );
  letter-spacing: 0.06em;
  writing-mode: vertical-rl;
}
/* 線の描写 */
.scrolldown::after{
  content: "";
  position: absolute;
  top: -15px;
  left: -20px;
  width: 2px;
  height: 150px;
  background: linear-gradient(-20deg, $cWhite 0%, $cBlack 100%);
  border-radius: 50px;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 1;
}
/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
  0%{
    scale: 1 0;
    transform-origin: center top;
  }
  50%{
    scale: 1 1;
    transform-origin: center top;
  }
  51%{
    transform-origin: center bottom;
  }
  100%{
    scale: 1 0;
    transform-origin: center bottom;
  }
}


// ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️星空に付随するテキスト◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
#particles-js{ 
	position:fixed;/*描画固定*/
	z-index:-1;/*描画を一番下に*/
	width: 100%;
	height: 100%;
	background-color: $cBlack;/*背景色*/
}
#wrapper{
	position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
	z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
	width:100%;
	height: 100%;
}


/* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️About◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
.about-title {
  margin: 40px auto; 
}
.about{
  padding-top: 100px;
}
.about__wrap{
  display: flex;
  gap: 3%;
  .about-text{
    margin: auto 0;
    padding: 20px 30px;
    & p{
      margin-bottom: 20px;
      line-height: 2;
    }
  }
  .about-img{
    &__wrap{
      position: relative;
      width: 300px;
      height: 400px;
      // 写真ドットあしらい
      & img{
        position: absolute;
        top: 0;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -30px 0px;
        z-index: 2;
      }
      &::before{
        content: "";
        position: absolute;
        bottom: -20px;
        right: -20px;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(#444444 30%, rgba(0, 0, 0, 0) 31%), radial-gradient(#444444 30%, rgba(0, 0, 0, 0) 31%);
        background-size: 6px 6px;
        background-position: 0 0, 3px 3px;
        z-index: 1;
      }
    }
  }
}

// ===========ブラーアニメーション============
.about-title, .about-text, .about-img {
  opacity: 0;
  transform: translateY(20px);
  filter: blur(30px);
  transition: all 0.6s ease-out;
  &.visible{
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

/* ===========Aboutボタン=========== */
.btn1 {
  display: block;
  text-align: right;
  margin: 30px 20px 10px auto;
  width: 200px;
  position: relative; 
  a{
    display: block;
    padding: 10px;
    box-sizing: border-box;
    position: relative; 
  }
}
/* =========ボタンアンダーライン======== */
.btn1::after {
  content: ''; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; 
  background-color: white; 
  transition: transform 0.3s ease-out;
}
/* ホバー時のアニメーション */
.btn1:hover::after {
  transform-origin: right;
  transform: scaleX(0); 
}
/* ホバー解除時のアニメーション */
.btn1:not(:hover)::after {
  transform-origin: left;
  transform: scaleX(1); 
}

// =============テキストループ===========
.text-loop{
  margin-top: 100px;
  color: rgba(0, 0, 0, 0);
  font-size: calc( 100rem / 16 ); 
  // font-weight: bold;
  -webkit-text-stroke: 0.5px $cGray; 
  display: flex;
  overflow: hidden;
  &__item{
    display: inline-block;
    transform: translateX(0);
    animation-name: textloop;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    white-space: nowrap;
    will-change: transform;
    pointer-events: none;
  }
}
@keyframes textloop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}



// ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️Work◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ 
.work{
  padding: 100px 0;
  h2{
    margin-bottom: 30px;
  }
  .work-list{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
    &__item{
      p{
        display: inline-block;
        text-align: center;
        margin: 10px 0 20px 0;
      }
      .img-cover{
        width: 300px;
        height: 200px;
        position: relative;
        overflow: hidden;
        &::after{
          content: "";
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $cWhite;
          opacity: 0;
        }
        &.inview{
          &::after{
            opacity: 1;
            animation: kf-cover-slide 1.5s ease-in-out forwards;
          }
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          vertical-align: bottom;
        }
      }
    }
  }
}
// ==========画像ズーム（表示された時、ホバー時）=======
.img-zoom{
  opacity: 0;
  .inview &{
    opacity: 1;
    transition: transform 0.3s ease;
    animation: kf-img-show 1.5s ease-in-out none;
    &:hover{
      transform: scale(1.1);
    }
  }
}
// ===========テキストアンダーライン(ホバー時)===============
.work-list__item{
  &:hover{
    p{
      border-bottom: 0.7px solid $cBlack;
    }
  }
}

// ============他の画像を暗く(ホバー時)=============
.hover-dark{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background-color 0.3s ease;
    pointer-events: none;
    // animation: kf-img-show 1.5s ease-in-out none;
  }
}
.work-list:hover li:not(:hover) .hover-dark::before {
  background-color: rgba(0,0,0,0.6);
}

// ============画像スクロールアニメーション=============
// カバースライド
@keyframes kf-cover-slide{
  0%{
    transform-origin: left;
    transform: scaleX(0);
  }
  50%{
    transform-origin: left;
    transform: scaleX(1);
  }
  50.1%{
    transform-origin: right;
    transform: scaleX(1);
  }
  100%{
    transform-origin: right;
    transform: scaleX(0);
  }
}
// 画像ズーム
@keyframes kf-img-show{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  50.1%{
    opacity: 1;
    transform: scale(1.5);
  }
  100%{
    opacity: 1;
  }
}




/* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️Contact◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
.contact{
  &__wrap{
    max-width: 800px;
    width: 100%;
    margin: 300px auto;
    padding: 100px;
  }
}
.contact h2{
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    background-color: $cBlack;
    height: 4px;
    width: 60px;
    top: 1.7em;
    left: 50%;
    transform: translateX(-50%);
  }
}
form{
  p{
    max-width: 500px;
    margin: 0 auto 15px auto;
    &:nth-child(5){
      text-align: center;
      margin-top: 20px;
    }
    }
  input:not([type="submit"]){
    width: 100%;
    }
  input[type="submit"]{
    padding: 5px 15px;
  }
  textarea{
    width: 100%;
    height: 200px;
  }
}



/* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️スマホ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
// =======================キービジュアル=====================
@media ( max-width: 960px ){
  .key-visual {
    &-text{
      top: 45%;
      left: 30%;
      transform: translate(-50%,-50%);
      & h1{
        line-height: 1.2;
        font-size: calc( 90rem / 16 );
      }
      & p{
        font-size: calc( 30rem / 16 );
      }
    }
  }
}
@media ( max-width: 640px ){
  .key-visual {
    &-text{
      top: 45%;
      left: 40%;
      transform: translate(-50%,-50%);
      & h1{
        line-height: 1.2;
        font-size: calc( 90rem / 16 );
      }
      & p{
        font-size: calc( 25rem / 16 );
      }
    }
  }
}



// =======================About=====================
@media ( max-width: 678px ){
  .about__wrap{
    flex-direction: column-reverse;
    gap: 30px;
    .about-img{
      margin: 0 auto;
    }
  }
}
// テキストループ
@media ( max-width: 780px ){
  .text-loop{
  font-size: calc( 100rem / 16 ); 
  margin-top: 50px;
  }
}

// =======================Work=====================
@media (max-width: 769px) {
}

// ==================Contact====================
@media ( max-width: 950px ){
  .contact{
    &__wrap{
      max-width: 600px;
      width: 100%;
      margin: 150px auto;
      padding: 80px;
    }
  }
}
@media ( max-width: 700px ){
  .contact{
    padding-inline: 30px;
    &__wrap{
      max-width: 500px;
      width: 100%;
      margin: 100px auto;
      padding: 50px;
    }
  }
}
@media ( max-width: 640px ){
  .contact h2{
  &::after{
    content: "";
    height: 2px;
    width: 40px;
    }
  }
}



/* =========ホバーアクション無効化 (960px以下)======== */
@media (max-width: 960px) {
  .work-list__item:hover p {
    border-bottom: none;
  }
  .img-zoom:hover{
    opacity: 1 !important;
    transform: none !important;
  }
  .work-list:hover li:not(:hover) .hover-dark::before {
    background-color: transparent;
  }
  .btn1:hover::after {
    transform: none !important;
  }
}