$cWhite: #fefefe;
$cGray: #5b5b5b;
$cBlack: #1d1d1d;

/* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️トップ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
// タイトル
.work-top__wrap{
  h1{
    font-size: calc( 50rem / 16 );
    line-height: 1.2;
    padding-top: 60px;
  }
  h2{
    font-size: calc( 20rem / 16 );
    line-height: 1.5;
    margin-bottom: 10px;
    .title__line{
      width: 80px;
      height: 1.2px;
      margin: 8px 0;
    }
  }
  p{
    font-size: calc( 10rem / 16 );
    color: $cGray;
    a{
      border-bottom: 1px solid $cGray;
    }
  }
}
// トップ画像
.work-top__wrap{
  width: 100%;
  height: 100vh;
  .site-img{
    max-width: 1000px;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .site-design{
      max-width: 600px;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(10%, 5%); /* 画像の中心を調整 */
      margin-right: 5%;
      img{
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.45)); /* 影を追加 */
      }
    }
    .site-mockup{
      max-width: 500px;
      height: auto;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(-10%, -5%); /* 画像の中心を調整 */
      margin-left: 5%;
      img{
        filter: drop-shadow(0px 0px 100px rgb(255, 255, 255)); /* 影を追加 */
      }
    }
  }
}
// トップ画像アニメーション追記
.site-img, .site-mockup{
  visibility: hidden;
}
// スマホ
@media ( max-width: 640px ){
  // タイトル
  .work-top__wrap{
    padding: 0 20px;
    h1{
      font-size: calc( 40rem / 16 );
      line-height: 1;
      padding-top: 80px;
      padding-bottom: 5px;
    }
    h2{
      font-size: calc( 16rem / 16 );
      margin-bottom: 5px;
      .title__line{
        width: 80px;
        height: 1px;
        margin: 6px 0;
      }
    }
  }
  // トップ画像
  .work-top__wrap{
    .site-img{
      height: 50vh;
      .site-design{
        transform: translate(0%, 5%); /* 画像の中心を調整 */
        margin-right: 0;
      }
      .site-mockup{
        max-width: 250px;
        transform: translate(0%, -10%);
        margin-left: 0;
      }
    }
  }
}
// スマホ小
@media ( max-width: 400px ){
  .work-top__wrap{
    .site-img{
      height: 50vh;
      .site-design{
        transform: translate(0%, 10%); /* 画像の中心を調整 */
      }
      .site-mockup{
        max-width: 250px;
        transform: translate(0%, 0%); /* 画像の中心を調整 */
      }
    }
  }
}



/* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️セカンド◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
// 骨組み
.work-second__wrap{
  margin: 100px 0;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  dt{
    font-weight: bold;
    padding-bottom: 5px;
    .title__line{
      width: 90px;
      height: 1.2px;
      margin: 5px 5px;
    }
  }
}
// カラー丸
.color-circle__wrap{
  display: flex;
  gap: 10px;
  padding-top: 10px;
  padding-left: 10px;
  .color-circle{
    width: 30px;
    height: 30px;
    border-radius: 50vh;
    &:nth-child(1){
      background-color: #623D8F;
    }
    &:nth-child(2){
      background-color: #DC86B1;
    }
    &:nth-child(3){
      background-color: #EEB0CB;
    }
  }
}
// スマホ
@media ( max-width: 640px ){
  .work-second__wrap{
    margin: 0;
    display: block;
    padding: 0 20px;
    .list__wrap + .list__wrap {
      padding-top: 60px;
    }
    dt{
      font-weight: bold;
      padding-bottom: 5px;
      .title__line{
        width: 100%;
        height: 1px;
        margin: 5px 5px;
      }
    }
  }
}


/* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️サード◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
// ライン
.column__wrap{
  .title__line{
    width: 7px;
    height: 100%;
    margin: 0 20px;
    background-color: #5b5b5b;
    mix-blend-mode: normal;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 2s cubic-bezier(0.40, 0, 0.20, 0.98) 0.3s;
    &.inview{
      transform: scaleY(1);
    }
  }
}
// コンテンツ
.work-third__wrap{
  padding: 80px 0;
  .column__wrap{
    display: flex;
    margin-bottom: 80px;
    dt{
      padding-bottom: 20px;
      font-weight: bold;
    }
    dd{
      line-height: 2;
    }
  }
}
// B案ホバー
.column__wrap{
  &:nth-child(7){
    dd a:hover{
      border-bottom: 1px solid #5b5b5b;
    }
  }
}
// スマホ
@media ( max-width: 640px ){
  // ライン消す
  .column__wrap .title__line{
    display: none;
  }
  .work-third__wrap{
    padding: 80px 20px;
    .column__wrap{
      margin-bottom: 70px;
    }
  }
}


/* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️サイト訪問ボタン◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
// ボタンスタイル
.visit-btn a{
  position: fixed;
  z-index: 100;
  bottom: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 80px;
  color: $cWhite;
  background-color: $cGray;
  border-radius: 20px 0 20px 20px;
  transition: 0.3s;
  padding-bottom: 13px;
  span{
    padding-left: 5px;
    animation: bounce 0.5s infinite alternate;
  }
  &::after{
    content: "ID:guest PASS:test";
    position: absolute;
    transform: translateY(18px);
    font-size: calc( 12rem / 16 );
    color: #c5c5c5;
  }
}
// bounceアニメーション
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
// ホバー時
.visit-btn a:hover {
  background-color: $cWhite;
  color: $cBlack;
  mix-blend-mode: difference;
  &::after{
    mix-blend-mode: difference;
  }
}
// ==========スマホ（固定TOPボタン）========
@media ( max-width: 960px ) {
  .visit-btn a{
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 180px;
  }
}
// ホバー時アニメーション消す
@media (max-width: 960px) {
  .visit-btn a:hover, 
  .visit-btn a:active, 
  .visit-btn a:focus {
    background-color: $cGray; /* 元の背景色に戻す */
    color: $cWhite; /* 元の文字色に戻す */
    mix-blend-mode: normal; /* 元のblend-modeに戻す */
    &::after{
      mix-blend-mode: normal;
    }
  }
}



/* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️リンク◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
.work-link{
  display: flex;
  justify-content: space-around;
  padding: 80px 0;
  font-size: calc( 18rem / 16 );
  .back{
    color: #5b5b5b5a;
  }
}
// スマホ
@media ( max-width: 640px ){
  .work-link{
    padding-top: 0px;
    font-size: calc( 16rem / 16 );
  }
}



/* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️フッター◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
footer {
  position: relative;
  z-index: 101;
}
